<nav class="navbar" role="navigation" aria-label="main navigation">
  
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item {{ 'is-active' if current_page == 'home' else '' }}" href="/">
          Home
        </a>
  
        <a class="navbar-item {{ 'is-active' if current_page == 'scrapper' else '' }}" href="/scrapper">
          Scrapper
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <button id="settings-btn" class="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="#888888" d="M2.909 26.182h1.939v4.848H2.909z" class="ouiIcon__fillSecondary"/><path fill="#888888" d="M4.848 16.62V0H2.91v16.62a3.879 3.879 0 1 0 1.94 0m-.97 5.683a1.94 1.94 0 1 1 0-3.879a1.94 1.94 0 0 1 0 3.879"/><path fill="#888888" d="M14.545 16.485h1.939V31.03h-1.939z" class="ouiIcon__fillSecondary"/><path fill="#888888" d="M16.485 6.924V0h-1.94v6.924a3.879 3.879 0 1 0 1.94 0m-.97 5.682a1.94 1.94 0 1 1 0-3.879a1.94 1.94 0 0 1 0 3.88"/><path fill="#888888" d="M26.182 26.182h1.939v4.848h-1.939z" class="ouiIcon__fillSecondary"/><path fill="#888888" d="M28.121 16.62V0h-1.94v16.62a3.879 3.879 0 1 0 1.94 0m-.97 5.683a1.94 1.94 0 1 1 0-3.879a1.94 1.94 0 0 1 0 3.879"/></svg>
            </button>
            <div class="modal settings-menu" id="settings-menu">
                <div class="modal-background"></div>
                
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Settings</p>
                        <button class="delete" aria-label="close"></button>
                    </header>
        
                    <section class="modal-card-body">
                        <div class="field">
                            <label class="label">Boosty:</label>
                            <div class="field">
                                <input type="text" id="boosty_input" class="input">
                            </div>
                        </div>
                        </section>
                    <footer class="modal-card-foot">
                        <div class="buttons">
                            <button id="save-settings" class="button is-success">Save changes</button>
                            <button id="cancel-settings" class="button">Cancel</button>
                        </div>
                    </footer>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <style>
    nav.navbar{
        margin-bottom: 1rem;
    }
  </style>