<!-- index.html -->
{% extends 'base.html' %}

{% block content %}
<form action="/api" method="post" id="form" enctype="multipart/form-data">
    <div class="field">
        <input class="input" type="text" id="name" name="name" placeholder="Your name" required />
    </div>
    <div class="field">
        <input class="input" type="text" id="username" name="telegram_url" placeholder="Your telegram link" require />
    </div>
    <div class="field">
        <input class="input" type="text" placeholder="Url to teletype" id="teletype_url" name="teletype_url" required/>
    </div>
    <div class="block">
        <button type="submit" onclick="publish_click()" id="btn" class="button is-fullwidth is-primary">Publish</button>
    </div>
</form>
{% endblock %}
